## Import Library

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

### Scraping from the web page

In [2]:
driver = webdriver.Chrome('C:/Users/NASIR KHAN/Downloads/chromedriver_win32/chromedriver.exe')

driver.get('https://collegedunia.com/btech-colleges')

In [3]:
last_height = driver.execute_script('return document.body.scrollHeight')

while True:
    driver.execute_script('window.scrollTo(0,document.body.scrollHeight)')
    time.sleep(2)
    new_height = driver.execute_script('return document.body.scrollHeight')
    
    if new_height == last_height:
        break
    last_height = new_height
    
soup = BeautifulSoup(driver.page_source, 'lxml')

college_post = soup.find_all('div', class_ = 'jsx-765939686 listing-block text-uppercase bg-white position-relative')

### Create DataFrame

In [4]:
df = pd.DataFrame({'Name':[''], 'Location':[''], 'Fee':['']})

In [16]:
for posting in college_post:
    try:
        names = posting.find('a', class_ = 'jsx-765939686 college_name m-0 text-white font-weight-bold text-md').text.strip()
        location = posting.find('span', class_ = 'jsx-765939686 mr-1').text.strip()
        fees = posting.find('span', class_='jsx-765939686 lr-key text-lg text-primary d-block font-weight-bold').text.strip()
        rank = posting.find("span", class_='jsx-765939686 rank-container pointer')
        df = df.append({'Name':names, 'Location':location,'Fee':fees}, 
                       ignore_index = True)
    except:
        pass
    break

In [17]:
df

,Name,Location,Fee
0,,,
1,Indian Institute of Technology Madras - [IITM]...,"Chennai, Tamil Nadu","₹ 75,116"
2,"Indian Institute of Technology - [IIT], New Delhi","New Delhi, Delhi NCR","₹ 220,300"
3,"IIT Bombay - Indian Institute of Technology, M...","Mumbai, Maharashtra","₹ 228,000"
4,"Indian Institute of Technology - [IIT], Kharagpur","Kharagpur, West Bengal","₹ 82,070"
...,...,...,...
2122,"GGR College of Engineering, Vellore","Vellore, Tamil Nadu",--
2123,Ganadipathy Tulsi's Jain Engineering College -...,"Vellore, Tamil Nadu","₹ 55,000"
2124,Government College of Engineering & Textile Te...,"Behrampore, West Bengal","₹ 21,030"
2125,"H.R. Group of Institutions - [HRIT], Ghaziabad","Ghaziabad, Uttar Pradesh","₹ 103,800"
2126,Indian Institute of Technology Madras - [IITM]...,"Chennai, Tamil Nadu","₹ 75,116"

### Saving the data to a csv file

In [7]:
df.to_csv('btech-colleges.csv')